.contener{
    height: 100vh;
    background:linear-gradient(  rgb(1, 1, 43), rgb(21, 21, 160));
    display: flex;
    align-items: center;
    justify-content:center;
}

div.form{
    max-width: 500px;
    width:100%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    padding: 10px;
    background-color: #0005;
}
div.acorde{
    width:90%;
    padding: 10px;
    color: yellow;
    border-bottom: 1px solid #aaa;
    display: flex;
    align-items: center;
    justify-content:center;
    cursor: pointer;
}
form{
    overflow: hidden;
    max-height: 0px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    transition: .5s;
    
}
form.active{
    transition: .9s;
    max-height:300px;
    border-bottom: 1px solid #aaa;
    
}
input, textarea{
    max-width: 300px;
    width: 90%;
    font-size: 1.4rem;
    margin: 10px 0px;
    padding: 5px;
}
form div, button{
    max-width: 300px;
    width:90%;
    display:block;
    font-size: 1.1rem;
    margin:5px auto;
}
button{
    background:linear-gradient(to right, rgb(255, 251, 0), yellow);
    padding: 5px;
    outline: none;
    border:5px solid;
    border-color: rgb(128, 104, 12) rgb(128, 104, 12) rgb(168, 168, 19) rgb(173, 173, 13);
}
button:active{ 
    border-color: yellow;
}